@import '../../../../styles/variables';

#confgirm-absent-btn {
  background: $main-btn;
  border-radius: $main-btn-radius!important;
  color: #f1f1f1;
  margin-top: 3em;
  width: 100%;
  height: 50px;
}
