<mat-dialog-content style="overflow: visible; border-radius: 15px;">
  <div class="d-flex flex-column justify-content-center">
    <mat-accordion><h3 class="text-center mb-1" style="font-weight: bold;">{{ 'absence_plan_title' | translate }}</h3></mat-accordion>
    <p class="text-center">{{ 'hints.confirm_set_student_absent' | translate }}</p>

    <form #form [formGroup]="AbsentForm" (ngSubmit)="set_student_as_Absent(AbsentForm)">
      <div class="field p-fluid">
        <p-dropdown [options]="reasons" [editable]="true" optionLabel="ReasonName" formControlName="Name" optionValue="Value" inputId="reason-input"
        [virtualScroll]="true"
        [editable]="false"
        emptyMessage="{{ 'no_resons_exist' | translate }}"
        emptyFilterMessage="{{ 'no_result_exist' | translate }}"
          placeholder="{{'reason' | translate}}"
          [ngClass]="{'ng-invalid ng-dirty': (AbsentForm.controls['Name'].invalid && (AbsentForm.controls['Name'].dirty || AbsentForm.controls['Name'].touched))}">
        </p-dropdown>
      </div>
      <button type="submit" mat-raised-button id="confgirm-absent-btn" mat-flat-button>
        <span *ngIf="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span class="sr-only">{{'confirm' | translate}}</span>
      </button>
    </form>
  </div>
  <mat-dialog-actions align="center">
    <button mat-button mat-dialog-close>{{'cancel' | translate}}</button>
  </mat-dialog-actions>


</mat-dialog-content>

