@import '../../../styles/variables';

.mat-tab-labels {
  justify-content: space-between;
}

.example-spacer {
  flex: 1 1 auto;
}

.welcome-header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#welcome-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  border: 0.5px solid #f5f5f5;
  border-radius: 9px;
  margin: 0 auto;
  margin-bottom: 5vh;
  background: white;
}

.welcome-header-content>h2:nth-child(1) {
  font-size: 18px;
  color: #5a5959;
}

.header_h1 {
  margin: 0;
}

.student-container {
  position: absolute;
  width: 100%;
  margin-top: 4vh;
}

.welcome-header-img {
  position: relative;
  top: -9px;
  scale: 120%;
}

#tab_group {
  width: 90%;
  margin: 0 auto;
}

#tab_group .mat-expansion-panel-header {
  height: 70px;
}

.trip_time_title,
.bus_code_title {
  margin-bottom: 10px;
}

div.cotact-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;

}

.contact-name {
  font-size: 12px;
}

.student_info {
  width: 100%;
  margin-top: 1em;
  background: white;
  // display: flex;
  // flex-direction: row;
  // justify-content: space-around;
}

.student-status {
  height: fit-content;
}

.bi-telephone-outbound {
  color: rgb(0, 135, 0);
}

.student-name {
  height: 50px;
  max-width: 214px;
}

.student-status-btn {
  height: 25px;
  font-size: 10px;
  min-width: 88px;
}

.student_trip {
  border: 1px solid #dedede;
  border-radius: 8px;
  margin-top: 1em;
  background: white;
}
.profile-pic-img{
  width: 35px;
  height: 35px;
}
.call-dilaer{
  width: 50px;
  height: 50px;
}
.mat-tab-label-active > .mat-tab-label-content::before{
  content: "";
  background: $main-btn;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  box-shadow: 8px 8px 29px -6px rgba(106,106,246,0.85);
-webkit-box-shadow: 8px 8px 29px -6px rgba(106,106,246,0.85);
-moz-box-shadow: 8px 8px 29px -6px rgba(106,106,246,0.85);
margin-left: 2px;
margin-right: 2px;

  // content: '\2688';
  // color: #004eb2;
}
.mat-expansion-panel-header-description {
  position: relative;
  margin: 50% 50% 50% 50%;
  align-self: center;
  justify-content: center;
  }



.mat-drawer{
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgb(237, 250, 248) 19%, rgba(255,255,255,1) 71%, rgb(241, 253, 251) 100%);
}


.mat-drawer-content {
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgb(240, 253, 252) 19%, rgba(255,255,255,1) 71%, rgb(240, 253, 252) 100%);
  }

.mat-toolbar-single-row {
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgb(240, 253, 252) 19%, rgba(255,255,255,1) 71%, rgb(240, 253, 252) 100%);
  }

.absent-student, .absent-student mat-expansion-panel{
  background: #EAEAEA;
}
.mat-expansion-panel:not([class*="mat-elevation-z"]){
  box-shadow: none;
}


