<div class="border-bottom dialog_header d-flex flex-row justify-content-between">
  <i mat-dialog-close class="bi {{'navigation-arrow' | translate}}"></i>
</div>
<div class="container absence_container mt-3">
  <mat-dialog-content class="mat-typography">
    <form  id="absenceForm" [formGroup]="AbsenceForm" (ngSubmit)="save_absencec_plan(AbsenceForm)"
      class="g-3 column needs-validation" novalidate>

      <div class="field p-fluid mb-3">
        <label for="students-input" class="form-label text-secondary mb-3">{{'students' | translate}}</label>
        <p-multiSelect [options]="students" optionValue="Id" inputId="students-input"
          placeholder="{{'students' | translate}}" optionLabel="Name" formControlName="StudentsId"
          [ngClass]="{'ng-invalid ng-dirty': (AbsenceForm.controls['StudentsId'].invalid && (AbsenceForm.controls['StudentsId'].dirty || AbsenceForm.controls['StudentsId'].touched))}">
        </p-multiSelect>
      </div>

      <div class="field p-fluid mb-3">
        <label for="startdate-input" class="form-label text-secondary mb-3">{{'absence_plan.start_date' |
          translate}}</label>
        <p-calendar inputId="startdate-input" [readonlyInput]="true" formControlName="StartDate"
          placeholder="{{'absence_plan.start_date' | translate}}"
          [ngClass]="{'ng-invalid ng-dirty': (AbsenceForm.controls['StartDate'].invalid && (AbsenceForm.controls['StartDate'].dirty || AbsenceForm.controls['StartDate'].touched))}">
        </p-calendar>
      </div>

      <div class="field p-fluid mb-3">
        <label for="enddate-input" class="form-label text-secondary mb-3">{{'absence_plan.end_date' |
          translate}}</label>
        <p-calendar inputId="enddate-input" [readonlyInput]="true" formControlName="EndDate"
          placeholder="{{'absence_plan.end_date' | translate}}"
          [ngClass]="{'ng-invalid ng-dirty': (AbsenceForm.controls['EndDate'].invalid && (AbsenceForm.controls['EndDate'].dirty || AbsenceForm.controls['EndDate'].touched))}">
        </p-calendar>
      </div>

      <div class="field p-fluid mb-3">
        <label for="reason-input" class="form-label text-secondary mb-3">{{'reason' | translate}}</label>
        <p-dropdown inputId="reason-input" [options]="reasons" [editable]="true" optionLabel="ReasonName" formControlName="Name" optionValue="Value"
        [virtualScroll]="true" [virtualScrollItemSize]="5"
          placeholder="{{'reason' | translate}}"
          [ngClass]="{'ng-invalid ng-dirty': (AbsenceForm.controls['Name'].invalid && (AbsenceForm.controls['Name'].dirty || AbsenceForm.controls['Name'].touched))}">
        </p-dropdown>
      </div>

      <div class="field p-fluid mb-3">
        <label for="comment-input" class="form-label text-secondary mb-3">{{'absence_plan.comment' | translate}}</label>
        <textarea id="comment-input" rows="5" cols="30"
          [ngClass]="{'ng-invalid ng-dirty': (AbsenceForm.controls['Comment'].invalid && (AbsenceForm.controls['Comment'].dirty || AbsenceForm.controls['Comment'].touched))}"
          placeholder="{{'absence_plan.comment' | translate}}" formControlName="Comment" pInputTextarea></textarea>
      </div>

      <mat-dialog-actions align="center">
        <div id="save-absent-plan-btn" class="d-grid gap-2 col-10 position-relative">
          <button [disabled]="spinner" type="submit" mat-flat-button>
            <span *ngIf="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span class="sr-only">{{'save' | translate}}</span>
          </button>
        </div>
      </mat-dialog-actions>

      <mat-dialog-actions align="center">
        <button mat-button mat-dialog-close>{{'cancel' | translate}}</button>
      </mat-dialog-actions>
    </form>
  </mat-dialog-content>
</div>
