<div id="welcome-container">
  <div class="d-flex flex-column">
    <div class="d-flex flex-row-reverse justify-content-between">
      <span [routerLink]="['/login']" class="text-secondary"><u>{{'skip' | translate}}</u></span>
      <a (click)="changeLang()" class="text-secondary"><u>{{'En' | translate}}</u></a>
    </div>
    <img id="welcome-logo" src="assets/logo.svg">
  </div>
  <div style="height: 230px;display: flex;justify-content: center;">
    <img id="welcome-infograph" [src]="welcome_infographImg">
  </div>
  <div id="closure">
    <button id="next-btn" (click)="nextSlide(carousel)" mat-mini-fab color="warn"
      aria-label="Example icon button with a filter list icon">
      <mat-icon>chevron_right</mat-icon>
    </button>
    <ngb-carousel #carousel [interval]="0"[showNavigationArrows]="false" (slide)="onSlide($event)">
      <ng-template ngbSlide>
        <div class="text-center">
          <h3 class="slide-header">{{"welcome_slide_1.header" | translate}}</h3>
          <small class="slide-content text-secondary text-sm">{{"welcome_slide_1.content" |  translate}}</small>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="text-center">
          <h3 class="slide-header">{{"welcome_slide_2.header" | translate}}</h3>
          <small class="slide-content text-secondary text-sm">{{"welcome_slide_2.content" | translate}}</small>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="text-center">
          <h3 class="slide-header">{{"welcome_slide_3.header" | translate}}</h3>
          <small class="slide-content-p text-secondary text-sm">{{"welcome_slide_3.content" | translate}}</small>
        </div>
      </ng-template>
    </ngb-carousel>
    <div id="sub-btn">
      <button [routerLink]="['/login']"  mat-flat-button>
        <span class="sr-only">{{'login' | translate}}</span>
      </button>
    </div>

    <!-- <button [routerLink]="['/login']" mat-flat-button>{{'login' | translate}}</button> -->
  </div>
</div>
