<div id="welcome-container">
  <a (click)="changeLang()"><span class="text-secondary"><u>{{'En' | translate}}</u></span></a>
  <img id="welcome-logo" src="../../../assets/logo.svg">
  <div>
    <h2 id="login-word">{{'login' | translate}}</h2>
    <p class="tip">{{'hints.enter_user_name_and_password' | translate}}</p>
  </div>
  <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="login()" class="g-3 column needs-validation" novalidate>

    <div class="field p-fluid mb-3">
      <label for="username-input" class="form-label text-secondary mb-3">{{'hints.username' | translate}}</label>
      <span style="width: 100%;" class="p-input-icon-left">
        <i class="bi bi-person-fill"></i>
        <input id="username-input" type="text" [ngClass]="{'ng-invalid ng-dirty': (UserName.invalid && (UserName.dirty || UserName.touched))}" formControlName="UserName" pInputText placeholder="{{'hints.username' | translate}}">
      </span>
      <small [ngClass]="{'p-error': UserName.errors?.['required']}" *ngIf="UserName.errors?.['required'] && UserName.touched">{{'validation.username_required' | translate}}</small>
  </div>

    <div class="field p-fluid ">
      <label for="password-input" class="form-label text-secondary mb-3">{{'hints.password' | translate}}</label>
      <span style="width: 100%;" class="p-input-icon-left">
        <i class="bi bi-lock-fill"></i>
        <input id="password-input" type="password" [ngClass]="{'ng-invalid ng-dirty': (Password.invalid && (Password.dirty || Password.touched))}" formControlName="Password" pInputText placeholder="{{'hints.password' | translate}}">
      </span>
      <small [ngClass]="{'p-error': Password.errors?.['required']}" *ngIf="Password.errors?.['required'] && Password.touched">{{'validation.password_required' | translate}}</small>
  </div>

    <!-- <a [routerLink]="['/resetpassword']"><span class="forgot-btn mb-3">{{'hints.forget_password' | translate}}</span></a> -->
    <div id="sub-btn" class="d-grid gap-2 col-10 position-relative">
      <button [disabled]="spinner" type="submit" mat-flat-button>
        <span *ngIf="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span class="sr-only">{{'login' | translate}}</span>
      </button>
    </div>

  </form>
</div>
