@import '../../../styles/variables';

#welcome-container {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  right: 0px;
  left: -0px;
}

#welcome-logo {
  width: 144.57px;
  height: 39.09px;
  width: 145px;
  height: 100px;
  margin: 0 auto;
}

.tip {
  font-size: 15px;
  color: #919191;
}


#sub-btn {
  width: 100%;
  margin: 0 auto;
}

#login_word {
  color: #999797;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


#loginForm {
  margin-top: 3em;
}
.transparent {

  background-color: transparent !important;
  box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0);
}

.left-border-none {

  border-left: none !important;
  box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0);
}

.bi {
  color: rgb(0, 0, 0);
}
.form-control{
  height: 50px;
  border-bottom-right-radius: .375rem !important;
  border-top-right-radius: .375rem !important;
}
#login-word{
  font-size: 30px;
  color: rgb(63, 63, 63);
}
#getuser-btn:hover, #getuser-btn:target{
 background-color: #919191;
}

#sub-btn .mat-focus-indicator {
  background: $main-btn;
  border-radius: $main-btn-radius!important;
  color: #f1f1f1;
  margin-top: 3em;
  width: 100%;
  height: 50px;
}
