<div class="dialog_header" class="border-bottom">
  <i mat-dialog-close class="bi {{'navigation-arrow' | translate}}"></i>
</div>
<h2 class="text-secondary">{{'hints.change_Password' | translate}}</h2>
<mat-dialog-content class="mat-typography">

  <form #form [formGroup]="resetPassForm" (ngSubmit)="submit()" class="g-3 column needs-validation" novalidate>

    <div class="field p-fluid mb-3">
      <label for="old-password-input" class="form-label text-secondary mb-3">{{'hints.password' | translate}}</label>
      <input id="old-password-input" cols="30" type="password"
        [ngClass]="{'ng-invalid ng-dirty': (resetPassForm.controls['oldPassword'].invalid && (resetPassForm.controls['oldPassword'].dirty || resetPassForm.controls['oldPassword'].touched))}"
        formControlName="oldPassword" pInputText placeholder="{{'hints.password'| translate}}">
      <small [ngClass]="{'p-error': resetPassForm.controls['oldPassword'].errors?.['required']}"
        *ngIf="resetPassForm.controls['oldPassword'].errors?.['required'] && resetPassForm.controls['oldPassword'].touched">{{'validation.password_required'
        | translate}}</small>
    </div>

    <div class="field p-fluid mb-3">
      <label for="new-password-input" class="form-label text-secondary mb-3">{{'hints.new_password' |
        translate}}</label>
      <input id="new-password-input" cols="30" type="password"
        [ngClass]="{'ng-invalid ng-dirty': (resetPassForm.controls['newPassword'].invalid && (resetPassForm.controls['newPassword'].dirty || resetPassForm.controls['newPassword'].touched))}"
        formControlName="newPassword" pInputText placeholder="{{'hints.new_password'| translate}}">
      <small [ngClass]="{'p-error': resetPassForm.controls['newPassword'].errors?.['required']}"
        *ngIf="resetPassForm.controls['newPassword'].errors?.['required'] && resetPassForm.controls['newPassword'].touched">{{'validation.password_required'
        | translate}}</small>
    </div>

    <div class="field p-fluid mb-3">
      <label for="new-password-input" class="form-label text-secondary mb-3">{{'hints.confirm_password' |
        translate}}</label>
      <input id="new-password-input" cols="30" type="password"
        [ngClass]="{'ng-invalid ng-dirty': (resetPassForm.controls['confirmPassword'].invalid && (resetPassForm.controls['confirmPassword'].dirty || resetPassForm.controls['confirmPassword'].touched))}"
        formControlName="confirmPassword" pInputText placeholder="{{'hints.confirm_password'| translate}}">
      <small [ngClass]="{'p-error': resetPassForm.controls['confirmPassword'].errors?.['required']}"
        *ngIf="resetPassForm.controls['confirmPassword'].errors?.['required'] && resetPassForm.controls['confirmPassword'].touched">{{'validation.password_required'
        | translate}}</small>
      <small [ngClass]="{'p-error': resetPassForm.controls['confirmPassword'].errors?.['confirmedValidator']}"
        *ngIf="resetPassForm.controls['confirmPassword'].errors?.['confirmedValidator']">{{'validation.password_match' |
        translate}}</small>
    </div>

    <div id="sub-btn" class=" d-grid gap-2 col-10 position-relative">
      <button [disabled]="spinner" type="submit" mat-flat-button>
        <span *ngIf="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span class="sr-only">{{'save' | translate}}</span>
      </button>
    </div>

  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <!-- <button mat-button mat-dialog-close>{{'cancel' | translate}}</button> -->
</mat-dialog-actions>
