html,
body {
  height: 100%;
  width: 100%;
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(227, 251, 248, 1) 19%, rgba(255, 255, 255, 1) 71%, rgba(227, 251, 248, 1) 100%);
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.green-snackbar {
  background: #268d04;
  color: white;
}


.red-snackbar {
  background: #8f211a;
  color: white;
}

.dialog_size {
  position: sticky;
  width: 100% !important;
  height: 100% !important;
  max-width: 100% !important;
  background: rgb(255, 255, 255) !important;
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgb(240, 253, 252) 19%, rgba(255, 255, 255, 1) 71%, rgb(240, 253, 252) 100%) !important;
}

.modal-dialog {
  border-radius: 22px !important;
  border: 1px solid rgb(159, 229, 252);
  overflow: visible;
}

.sr-only {
  margin-left: 1em;
  margin-right: 1em;
}

.mat-dialog-container .bi-arrow-right,
.mat-dialog-container .bi-arrow-right {
  font-size: 12px;
  font-weight: bold;
}

.custom-modal .mat-dialog-container {
  border-radius: 22px !important;
  border: 1px solid rgb(159, 229, 252);
  overflow: visible;
  width: 315px;
}

.mat-dialog-container div.dialog_header .bi {
  font-size: 22px;
  font-weight: bolder;
}

.mat-progress-spinner {
  margin-top: 50%;
}

*{
  font-size: 1rem
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons.css";
