<div  class="border-bottom dialog_header d-flex flex-row justify-content-between">
  <i mat-dialog-close class="bi {{'navigation-arrow' | translate}}"></i>
  <a (click)="open_add_absence()"><mat-icon class="text-success">note_add</mat-icon></a>
</div>
<!-- <mat-spinner *ngIf="loader" class="mx-auto modal-dialog-centered" [diameter]="30"></mat-spinner> -->
<app-loader [loader]="loader" [withImage]="false"></app-loader>

<div *ngIf="($absences | async)?.length == 0 && !loader" class="text-secondary text-center not_found">{{ 'hints.you_dont_have_absence_plan' | translate }}</div>
  <mat-list role="list" *ngFor="let ab of $absences | async">
    <mat-list-item role="listitem">
      <div class="absensItem d-flex flex-row justify-content-between">
        <p *ngIf="culture == 'en'">{{ab.AbsenceReasonEN}}</p>
        <p *ngIf="culture == 'ar'">{{ab.AbsenceReasonAR}}</p>
        <div class="d-flex flex-row justify-content-end">
          <a (click)="edit_absence(ab)"><mat-icon class="text-success">open_in_new</mat-icon></a>
          <a (click)="openDialogWithTemplateRef(deleteDialog, ab.Id)"><mat-icon class="text-danger">delete_outline</mat-icon></a>
        </div>
      </div>
    </mat-list-item>
  </mat-list>

<ng-template #deleteDialog>
  <h2 matDialogTitle></h2>
  <mat-dialog-content>
    <p>{{ 'hints.absence_delete_confimation' | translate}}</p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <div mat-flat-button>
      <button [disabled]="spinner" class="btn btn-primary" (click)="delete_absence()" type="submit">
        <span *ngIf="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span class="sr-only">{{'save' | translate}}</span>
      </button>
    </div>
    <button mat-flat-button matDialogClose>{{'cancel' | translate}}</button>
  </mat-dialog-actions>
</ng-template>

